*{
    box-sizing: border-box;
}

body {
    /* display: grid; */
    /* grid-template-rows: 150px 1fr; */
    margin:0;
    height: 100%;
    width: 100%;
    background-image: url(./images/pink_tree.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    /* position:absolute; */
    /* overflow:hidden; */
    top: 0px;
    bottom: 0px;
    /* z-index: -1; */
}

#cardArea {
    /* background-color: lightslategray; */
    /* background-image: url(./images/pink_tree.jpg); */
    display: grid;
    height: 100%;
    /* width: 99%; */
    overflow-y: auto;
}

.hidden{
    display: none;
}

#formButton{
    position: absolute;
    height: 25px;
    width: fit-content;
}

form{
    width: 50%;
    position:absolute;
    left: 20%;
    background-color: aliceblue;
}